@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
 
* {
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-color: seashell;

}


.container {
	display: flex;
	width: 90vw;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	color: rgb(54, 52, 52);
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	top: 90%;
	left: 8%;
	margin: 0;
	opacity: 0;
	color: #1c3334; 
}
.panel.active {
	flex: 5;
	border: solid;
	border-color: #5d5c61;
	border-width: 1px 3px;
}
.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
.container {
  width: 90vh;
}

.panel:nth-of-type(4),
.panel:nth-of-type(5) {
	display: none;
  }
}

